<div class="event-logs">
    <%= link_to "New event log", new_event_log_path %>
    <% if @parsed_event_logs.size > 0 %>
        <h1>Parsed Event Logs</h1>
    <% else %>
        <h1>You have no event logs yet</h1>
    <% end %>
    <% @parsed_event_logs.each do |event| %>
        <% if event[:log].id %>
            <h4>Event <%= event[:log].id %></h4>
            <p>Source IP: <%= event[:parsed_data][1][4..] %></p>
            <p>Destination IP: <%= event[:parsed_data][0][4..] %></p>
            <div class="comment-form">
               <%= form_with(model: [event[:log], event[:log].comments.build]) do |f| %>
                  <%= f.hidden_field :parent_id %>
                  <%= f.text_area :body, placeholder: "Add comment" %>
                  <br />
                  <%= f.submit "Add" %>
               <% end %>
               <div class="comments">
                  <%= render event[:log].comments %>
               </div>
            </div>
            <br />
            <%= button_to "Delete event log", event_log_path(event[:log]), method: :delete %>
            <hr>
        <% end %>
    <% end %>
</div>